body{
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: Merriweather, sans-serif;
}

h1{
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Dancing Script', cursive;
  font-size: 5.62rem;
}

h2{
  color: #66BFBF;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: Montserrat;
  color: #11999E;
}
a{
  color: #11999E;
}

p{
  line-height: 2;
}
hr{
  border: dotted black 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 300px;
}
.top-cloud{
  position:absolute;
  right: 300px;
  top:50px;
}
.top-container{
  background-color: #EAF6F6;
  padding-top: 200px;
  position: relative;
}

.pro{
  text-decoration: underline;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.programming-img{
    width: 25%;
    float: left;
    padding-right: 30px;

}

.msoffice-img{
  width: 25%;
  float: right;
}


.btn {
  background:  #11cdd4;
  background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
  background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
  background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 17px 10px 17px;
  text-decoration: none;
}

.btn:hover {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb,  #2bc4ad);
  text-decoration: none;
}


.bottom-container{
  padding: 50px 0 20px;
  background-color: #66BFBF;
}

.footer-link{
  text-decoration: none;
  padding: 0 20px 0;
  font-family: Montserrat, sans-serif;
}

.footer-link:hover{
  color: white;
}

.copyright-msg{
  color: white;
  font-size: 0.9rem;
  padding-top : 20px;
}

.middle-container{
  margin: 100px 0;
}

.profile-pic{
  border-radius:100%;
}

.contact-msg{
  margin: 40px auto 60px;
  width : 30%;
}
